.chat-block {
    background: var(--color-2);
    position: fixed;
    right: 0;
    height: 100vh;
    border: 1px solid var(--color-3);
    width: 25vw;
    padding: 40px 30px 0 20px;
}

.messages-block{
    background: var(--color-1);
    padding: 20px;
    border: 1px solid var(--color-3);
    border-radius: 12px;
    height: 76%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    color: var(--color-4);
}

.msg-username {
    font-size: 14px;
}

.msg-message{
    padding-top: 7px;
    font-size: 16px;
}
.msg-date {
    padding-top: 5px;
    font-size: 12px;
    text-align: right;
}

.message-block{
    position: fixed;
    bottom: 20px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    display: flex;
}

.message-input {
    margin: 0;
    height: 40px;
    width: 18vw;
    padding: 5px 15px;
    border-radius: 8px;
    border: 1px solid var(--color-3);
    color: var(--color-4);
    font-size: 14px;
}

.msg-block {
    padding-bottom: 20px;
}

.send-message-btn {
    height: 54px;
    width: 54px;
    border: 1px solid var(--color-3);
    background: #FFFFFF;
    border-radius: 8px;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-message-btn: {
    border: 1px solid var(--color-3);
    outline: none;
}